{% extends 'main_website/base.html' %}
{% load static %}
{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4></h4>
            <h2></h2><img src="{% static 'images/saadat_2.jpeg' %}" alt="Italian Trulli">
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4></h4>
            <h2></h2><img src="{% static 'images/saadat_3.jpeg' %}" alt="Italian Trulli">
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4></h4>
            <h2></h2><img src="{% static 'images/saadat_4.jpeg' %}" alt="Italian Trulli">
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4></h4>
            <h2></h2><img src="{% static 'images/saadat_5.jpeg' %}" alt="Italian Trulli">
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4></h4>
            <h2></h2><img src="{% static 'images/saadat_6.jpeg' %}" alt="Italian Trulli">
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4></h4>
            <h2></h2><img src="{% static 'images/saadat_7.jpeg' %}" alt="Italian Trulli">
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4></h4>
            <h2></h2><img src="{% static 'images/saadat_9.jpeg' %}" alt="Italian Trulli">
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4></h4>
            <h2></h2><img src="{% static 'images/saadat_10.jpeg' %}" alt="Italian Trulli">
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4></h4>
            <h2></h2><img src="{% static 'images/saadat_11.jpeg' %}" alt="Italian Trulli">
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4></h4>
            <h2></h2><img src="{% static 'images/saadat_12.jpeg' %}" alt="Italian Trulli">
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4></h4>
            <h2></h2><img src="{% static 'images/saadat_13.jpeg' %}" alt="Italian Trulli">
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4></h4>
            <h2></h2><img src="{% static 'images/saadat_14.jpeg' %}" alt="Italian Trulli">
          </div>
        </div>
      </div>
    </div>
  <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>NOTICE BOARD</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <ul class="featured-list">
                <li><h4>Addmission open</h4></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{% static 'images/saadat1.jpeg' %}" height="400" width="400" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
